# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
pytorch=1.13.1=py3.9_cpu_0
pytorch-mutex=1.0=cpu
torch-directml=0.1.13.1.dev230119=pypi_0
torch-tb-profiler=0.4.1=pypi_0
torchvision=0.14.1=pypi_0